<div class="post row">
    <div class="col-12 col-md-8">
        <div id="articleGallery" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for attribute in post.attributes %}
                    {% if attribute.name == 'galerie' %}
                        {% for key, img in glob('../public/uploads/' ~ attribute.value ~ '/*.*') %}
                            <li data-target="#artikelBilder" data-slide-to="{{ key }}" {% if key == 0 %}class="active"{% endif %}></li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for attribute in post.attributes %}
                    {% if attribute.name == 'galerie' %}
                        {% for key, img in glob('../public/uploads/' ~ attribute.value ~ '/*.*') %}
                            <div class="carousel-item {% if key == 0 %}active{% endif %}">
                                <img src="{{ base_url() }}/{{ img|replace({ '../public/': '' }) }}" class="d-block w-100" alt="...">
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#articleGallery" role="button" data-slide="prev">
                <i class="fa fa-chevron-left fa-3x" aria-hidden="true"></i>
                <span class="sr-only">Vorheriges</span>
            </a>
            <a class="carousel-control-next" href="#articleGallery" role="button" data-slide="next">
                <i class="fa fa-chevron-right fa-3x" aria-hidden="true"></i>
                <span class="sr-only">Nächstes</span>
            </a>
        </div>
        <div class="mt-4">
            {{ trans.getContent()|raw }}
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card mb-4 shadow-sm">
            <div class="card-img-top" style="background-image: url('{{ trans.getMetaImage() }}');"></div>
            <div class="card-body">
                <h3>{{ trans.getTitle() }}</h3>
                <p class="card-text">
                    {% if trans.getMetaDescription()|length > 0 %}
                        {{ trans.getMetaDescription()|nl2br }}
                    {% else %}
                        {{ trans.getContent() }}
                    {% endif %}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted font-weight-bold">
                        {% for attribute in post.getAttributes() %}
                            {% if attribute.getName() == 'preis' %}
                                Fr. {{ attribute.getValue() }}
                            {% endif %}
                        {% endfor %}
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
